a:focus,
a:hover, 
.color,
.connected-icon a i,
.testimonial-name,
.testimonial-name small,
.highlight,
.btn-ghost-color,
.contact-details-social li a:hover,
.portfolioContainer li .info i,
.project-changer li a,
#iconTabs li.active a span,
.box a,
.box.box-style6 a,
.box.box-style8b a,
.about-me-social li a:hover,    
.icon-box-hover i,
#footer-2 li a:hover,
#footer-2>a:hover,
.countdown-big h1,
.home-blog-filters .cbp-filter-item-active.cbp-filter-item,
.home-blog-filters .cbp-filter-item:hover,
.home-filters-dark .cbp-filter-item:hover,
.home-filters-dark .cbp-filter-item-active.cbp-filter-item
{
    color: #0cb4ce
}
 

.bg-color,
#price-list .button:hover,
#price-list .featured .button,
.progress-bar,
#back-to-top,
.portfolioFilter a.current,
.portfolioFilter a:hover,  
.label-primary,
.panel-title,
#buttonTabs li.active a,
.box-style5,
.box-style7,
.box-style10,
.progress-bars-4 .progress-bar-tooltip, 
.timeline::before,
h4.fitness-label,
.bg-overlay:after,
.label-items-in-cart
{
    background-color: #0cb4ce
}
.btn-primary,  
.btn-primary.active, .btn-primary:active, 
.open>.dropdown-toggle.btn-primary,
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, .btn-ghost-color:hover,
.btn-primary.btn-appear:hover
{
    background-color: #0cb4ce
}
.btn-primary, 
.btn-ghost-color,
.btn-ghost-color:hover,
.section-heading hr, hr.separator,
.btn-primary.btn-appear:hover
{ 
    border-color: #0cb4ce
}
.accordian-style2 .panel-title,
.food-tabs li.active a,
.food-tabs li.active a:focus,
.music-bottom .play-btn,
.play-bottom .play-btn,
.timeline-bullet,
.contact input:focus, textarea:focus, select:focus,
.btn-primary.active, .btn-primary:active
{ 
    border-color: #0cb4ce
}
#video .play-btn:after,
.music-bottom .play-btn:after,
.play-bottom .play-btn:after
{ 
    border-left-color: #0cb4ce
} 
.box-style4 {
    border-top: 2px solid #0cb4ce
}
#price-list .featured .price-table,
.progress-bars-4 .progress-bar-tooltip:after
{
    border-top-color: #0cb4ce
}
 

.color,
.feature-center.white i.color,
.counter h1,
.team figure figcaption a:hover,
.portfolio figure figcaption p, 
a:hover .subheading,
.blog-columns .blog-thumb-desc a:hover h4,
.blog-standard a:hover h4,
.blog-pagination li a:hover,
.sidebar-share a:hover,
.shop .cbp-l-caption-body a:hover,
.team-caption ul li a:hover,
.read-more-link.color span,
.read-more-link2.color span,
#clock .digit
{
    color: #0cb4ce
}

.contact input.submit,
.blog-pagination>.active>a, 
.blog-pagination>.active>a:hover
{
    background-color: #0cb4ce
}

.price-table-featured .price-box
{
    border-color: #0cb4ce
}

blockquote {
    border-left-color: #0cb4ce
}

.cbp-caption-zoom .cbp-caption-activeWrap {
    background-color: rgba(12,180,206,0.9)
}

 
.progress-svg circle {
  	stroke: #0cb4ce
}