{% load static %}

<footer id="footer-1">

    <div class="footer-columns">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>Hacktrick'18, Bilgi Teknolojileri ve İletişim Kurumu ile Octosec Siber Güvenlik Topluluğu işbirliğiyle 4-5-6 Mayıs 2018 tarihlerinde Ankara BTK binasında düzenlenecektir.</p>
                </div>
                <div class="col-md-4 text-center">
                        <a href="https://www.btk.gov.tr" target="_blank"><img src="{% static "img/clients/btk.png" %}"></a>
                        <a href="https://octosec.net" target="_blank"><img src="{% static "img/clients/octo.png" %}"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <p>Copyleft © | 2014-2018 <a href="https://octosec.net" target="_blank" class="octosec">octosec</a></p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <ul class="social-icons">
                        <li><a href="http://twitter.com/hacktrickconf" target="_blank"><i class="icon ion-social-twitter"></i></a></li>      
                        <li><a href="https://facebook.com/hacktrickconf" target="_blank"><i class="icon ion-social-facebook"></i></a></li>  
                        <li><a href="https://www.flickr.com/photos/hacktrickconf" target="_blank"><i class="icon ion-social-instagram"></i></a></li>   
                        <li><a href="https://www.youtube.com/c/Hacktrickconf" target="_blank"><i class="icon ion-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>