{% load static %}

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row space-bottom">
                        <div class="f-widget">
                            <a href="https://www.btk.gov.tr" class="footer-logo"><img src="{% static "images/btk.png" %}" alt=""></a>
                            <div class="excerpt">
                            Bilgi Teknolojileri ve İletişim Kurumu (kısaca BTK), Türkiye'de telekomünikasyon sektörünü düzenleyip denetleyen,  ilk sektörel denetleyici kurumudur.
			    </div>
                            <ul class="social-media">
                                <li><a href="https://twitter.com/BTKbasin" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div><!-- /.f-widget -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="f-widget">
                            <a href="http://www.octosec.net" class="footer-logo"><img src="{% static "images/footer-octo.png" %}" alt="Octosec"></a>
                            <div class="excerpt">
                                Octosec Türkiye'deki siber güvenlik farkındalığını artırmayı görev edinmiş, en saygın gönüllü siber güvenlik topluluklarından biridir. Hacktrick başta olmak üzere birçok gönüllü organizasyon, eğitim ve etkinlikler düzenlemekte ve destek sağlamaktadır.
                            </div>
                            <ul class="social-media">
                                <li><a href="https://twitter.com/octosec" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/octosec" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- /.f-widget -->
                    </div><!-- /.row -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                        <div class="f-widget">
                            <a class="twitter-timeline" data-width="360" data-height="500" data-theme="light" data-link-color="#e1674c" href="https://twitter.com/hacktrickconf">Tweets by hacktrickconf</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div><!-- /.f-widget -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom">
        <p>Copyleft © 2018 <a href="http://www.octosec.net" target="_blank">Octosec</a></p>
    </div>
</footer>
