{% load static %}

<nav class="navbar navbar-default fullwidth dark-menu">
    <div class="container">
        
        <div class="navbar-header">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "hacktrick:index" %}"><img src="{% static "img/assets/hacktrick.png" %}" class="logo-light" alt="#"><img src="{% static "img/assets/hacktrick.png" %}" class="logo-dark" alt="#"></a> 
            </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <div class="container">
                <ul class="nav navbar-nav menu-right">

                    <li><a href="{% url "hacktrick:index" %}#program" class="btn-scroll">Program</a></li>
                    <li><a href="{% url "hacktrick:index" %}#sponsors" class="btn-scroll">Sponsorlar</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle">ETKINLIKLER<i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "hacktrick:trainings" %}">Eğitimler</a></li>
                            <li><a href="{% url "hacktrick:cfp" %}">CFP</a></li>
                            <li><a href="{% url "hacktrick:game-of-pwners" %}">Game Of Pwners</a></li>
                            <li><a href="{% url "hacktrick:bug-miner" %}">Bug Miner</a></li>
                            <li><a href="{% url "hacktrick:demo-room" %}">Demo Room</a></li>
                            <li><a href="{% url "hacktrick:cs-award" %}">CS Award</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle">Hakkında<i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "hacktrick:index" %}#about" class="btn-scroll">Hacktrick Hakkında</a></li>
                            <li><a href="{% url "hacktrick:faq" %}">SSS</a> </li>
                            <li><a href="{% url "hacktrick:contributors" %}">Katkıda Bulunanlar</a> </li>
                        </ul>
                    </li>
                    <li class="nav-separator"></li>
                    {% include "includes/__header_extra.html" %}
                    <li class="nav-separator"></li>
                    <li><a class="octosec" href="https://octosec.net" target="_blank">octosec</a></li>
                </ul>
                
            </div>
        </div> 
    </div>
</nav>