{% if request.user.is_authenticated %}
        <li class="dropdown">
            <a class="dropdown-toggle">Kullanıcı<i class="ti-angle-down"></i></a>
            <ul class="dropdown-menu">
            {% if request.user.user_type == 2 %}
                {% include 'includes/__header_instructor.html' %}
            {% endif %}
            {% if request.user.user_type == 3 %}
                {% include 'includes/__header_participant.html' %}
            {% endif %}
            <li><a href="{% url "profiles:profile" %}">Profil</a></li>
            <li><a href="{% url "profiles:logout" %}">Çıkış</a></li>
        </ul>
    </li>
{% else %}
    <li><a href="{% url "profiles:login" %}">GIRIS</a></li>
{% endif %}