{% load i18n %}
{% if page_obj.has_previous or page_obj.has_next %}
    {% load i18n %}
    <div class="post-pagination-area centered-area">
        <ul class="post-pagination" style="float: none;">
            {% if page_obj.has_previous %}
                <li><a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">Önceki</a></li>
            {% else %}
                <li class="active"><a>Önceki</a></li>
            {% endif %}
            {% for page in page_obj.pages %}
                {% if page %}
                    {% ifequal page page_obj.number %}
                        <li class="active"><a>{{ page }}</a></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li><span><a>...</a></span></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?{{ page_obj.next_page_number.querystring }}" class="prev">Sonraki</a></li>
            {% else %}
                <li class="active"><a>Sonraki</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
