{% if form.errors %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }} : {{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %}
            {% if form.non_field_errors %}
                {% for err in form.non_field_errors %}
                    <li>{{ err }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endif %}