{% extends "base.html" %}
{% block title %} CS Awards {% endblock %}

{% block page-header %}

<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>Demo Room</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

<section class="pt60 pb80">
    <div class="container"> 
        <div class="row">
	        <div class="col-md-6 col-md-offset-3">
				{% for data in csaward %}
					{{data.image}}
					{{data.header}}
					{{data.text_area|safe}}
					{% empty %}
					<div class="col-md-6 col-md-offset-3">
						<div class="alert alert-danger text-center">Detaylar çok yakında!</div>
					</div>
				{% endfor%}
	        </div> 
        </div>
    </div>
</section>
{% endblock %}