{% extends "base.html" %}
{% load static %}

{% block title %} Hacktrick Canlı Yayını {% endblock %}

{% block page-header %}
<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>Canlı Yayın</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}
	<!-- start event speaker  -->
	<section class="pt40">
		<div class="container text-center">
			<div class="row">
                {{ broadcast|safe }}
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	<!-- end event speaker  -->
{% endblock %}