{% extends "base.html" %}
{% load static %}
{% load hacktrick_extras %}

{% block title %} Eğitimler {% endblock %}

{% block page-header %}
<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>Eğitimler</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}

<section class="pt60 pb80">
    <div class="container"> 
        <div class="row">
            <div class="col-md-12 section-heading">
                <h3>Eğitimler</h3>
            </div>
        </div>
        <div class="col-md-12">
            {% if not object_list.count > 0 %}
                <div class="alert alert-danger text-center">Eğitimler en kısa sürede eklenecektir.</div>
            {% else %}

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Adı
                            </th>
                            <th>
                                Kayıt/Kontenjan
                            </th>
                            <th>
                                Tarih
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for training in data %}
                        <tr>
                            <td>
                                <a href="{% url "hacktrick:training_detail" training.id %}">{{ training.title|title }} <i class="ion-link"></i></a>
                            </td>
                            <td>
                                {% if training.capacity %} {{ training.record_traning}}/{{ training.capacity }} {% else %} Sınırsız {% endif %}
                            </td>
                            <td>
                                {{ training.date }} - {{ training.finish_date}}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div> 
    </div>
</section>
{% endblock %}