{% extends "base.html" %}
{% load static %}
{% load bleach_tags %}
{% load hacktrick_extras %}

{% block title %} Eğitimler - {{ object.title }}{% endblock %}

{% block style %}
    <style type="text/css">
        .comment:before {
            content: none !important;
        }
        .social-media li:before {
            content: none !important;
        }
    </style>
{% endblock %}

{% block page-header %}<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>{{ object.title }}</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}
    <section class="blog pt10">
		<div class="container">
            <div class="blog-post">
    			<div class="row">
    				<div class="col-md-6">
                        {% for instructor in object.instructor.all %}
                            <div class="col-md-4 col-sm-6 team"> 
                                <div class="team-container">
                                    <div class="team-image">
                                        {% if not instructor.image %}
                                            <img src="{% static "img/user.png" %}" alt="Konuşmacı" class="img-responsive">
                                        {% else %}
                                            <img src="{{ speaker.image.url }}" alt="Konuşmacı" class="img-responsive">
                                        {% endif %}
                                    </div> 
                                    <div class="team-caption">
                                        <div>
                                            <div>
                                                <h4>{{ instructor.user.get_full_name }}</h4>
                                                <p>{{ instructor.title }} - {{ instructor.institution }}</p>
                                                <ul>
                                                    {% if instructor.facebook %}
                                                    <li class="social-icon"><a href="https://www.facebook.com/{{ instructor.facebook }}"><i class="ion-social-facebook"></i></a></li>
                                                    {% endif %} {% if instructor.twitter %}
                                                    <li class="social-icon"><a href="https://twitter.com/{{ instructor.twitter }}"><i class="ion-social-twitter"></i></a></li>
                                                    {% endif %} {% if instructor.linkedin %}
                                                    <li class="social-icon"><a href="https://www.linkedin.com/in/{{ instructor.linkedin }}"><i class="ion-social-linkedin"></i></a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>  
                                </div> 
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <p class="blog-post-categories">
                            <span><i class="ion-ios-calendar"></i></span>
                            {{ object.date }}
                        </p>
                        <blockquote>
                            <p>{{ training_note|safe }}</p>
                        </blockquote>
                    </div>
                    <div class="col-md-12">
                        <p>
    						<p>{{ object.content|bleach }}</p>

                            <h3>Dökümanlar</h3><br/>
                            <ul>
                                {% for document in object.documents.all %}
                                    <li><a href="{{ document.document_url }}" target="_blank">{{ document.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </p>
    				</div>
    			</div>
            </div>
		</div>
	</section>
{% endblock %}