{% extends "base.html" %}
{% load static %}
{% load bleach_tags %}
{% load hacktrick_extras %}

{% block title %} Eğitimler - {{ object.title }}{% endblock %}

{% block style %}
    <style type="text/css">
        .comment:before {
            content: none !important;
        }
        .social-media li:before {
            content: none !important;
        }
    </style>
{% endblock %}

{% block page-header %}<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>{{ object.title }}</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}
    <section class="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="blog-post">
                        <p class="blog-post-categories">
                            <span><i class="ion-ios-calendar"></i></span>
                            {{ object.date }}
                        </p>
                        <p>
                            {% for instructor in object.instructor.all %}
                            <div class="comment first depth-1" style="overflow: hidden;">
	                            <a class="pull-left" href="#">
                                    {% if not instructor.image %}
                                        <img class="avatar" src="{% static "img/user.png" %}" alt="Eğitmen">
                                    {% else  %}
                                         <img class="avatar" src="{{ instructor.image.url }}" alt="Eğitmen">
                                    {% endif %}
	                            </a>
	                            <div class="comment-body">
	                                <h4 class="comment-heading">{{ instructor.user.get_full_name }}</h4> 
	                                <p class="comment-time">{{ instructor.title }} - {{ instructor.institution }}</p>
	                                <p>
                                        <ul class="social-media">
                                            {% if instructor.facebook %}
                                                <li class="social-media-item">
                                                    <a href="https://www.facebook.com/{{ instructor.facebook }}" target="_blank">
                                                    <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if instructor.twitter %}
                                                <li class="social-media-item">
                                                    <a href="https://twitter.com/{{ instructor.twitter }}" target="_blank">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if instructor.linkedin %}
                                                <li class="social-media-item">
                                                    <a href="https://www.linkedin.com/in/{{ instructor.linkedin }}" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                            {% endif %}
										</ul>
	                                </p>
	                            </div>
	                        </div>
                            {% endfor %}
							<blockquote>
								<p>{{ training_note|safe }}</p>
							</blockquote>
							<p>{{ object.content|bleach }}</p>

                            <h3>Dökümanlar</h3><br/>
                            <ul>
                                {% for document in object.documents.all %}
                                    <li><a href="{{ document.document_url }}" target="_blank">{{ document.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}