{% extends "base.html" %}
{% load static %}
{% load hacktrick_extras %}

{% block title %} Eğitimler {% endblock %}

{% block page-header %}
<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>Eğitimler</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}

<section class="pt60 pb80">
    <div class="container"> 
        <div class="row">

            <div class="col-md-4 text-left text-center-sm-xs mt20 mb40">   
                <h3>Eğitimler</h3>
                <p class="pull-right"><small>TODO: küçük açıklayıcı metin yazılmalı</small></p>
            </div>

            <div class="col-md-4 col-md-offset-4">
                {% if not object_list.count > 0 %}
                    <div class="alert alert-danger">Eğitimler en kısa sürede eklenecektir.</div>
                {% else %}

                <ul class="list-icons">
                    {% for training in data %}
                        <li>
                            <i class="ion-android-done-all"></i>
                            <a href="{% url "hacktrick:training_detail" training.id %}">{{ training.title|title }}</a>
                            <span>{% if training.capacity %} {{ training.record_traning}} - {{ training.capacity }} {% else %} Sınırsız {% endif %}</span>
                            <span>{{ training.date }} - {{ training.finish_date}} </span>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div> 
        </div>
    </div>
</section>
{% endblock %}