amqp==2.1.4
appdirs==1.4.0
Babel==2.3.4
billiard==3.5.0.2
celery==4.0.2
defusedxml==0.5.0
Django==1.10.5
django-environ==0.4.1
django-grappelli==2.9.1
django-phonenumber-field==1.1.0
httplib2==0.10.3
kombu==4.0.2
oauthlib==2.0.1
olefile==0.44
packaging==16.8
phonenumberslite==8.3.1
Pillow==4.0.0
psycopg2==2.6.2
PyJWT==1.4.2
pyparsing==2.1.10
python3-openid==3.1.0
pytz==2016.10
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
vine==1.1.3
