{% extends "base.html" %}
{% load static %}
{% load bleach_tags %}

{% block title %} Katılımcı Onayla {% endblock %}

{% block page-header %}
<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>Eğitim Tercih Onayı</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}
	<!-- start event-schedule  -->
	<section class="pt50 pb50">
		<div class="container">
			<div class="row">
				<div class="section-heading">
                    <p>"{{ training.title|title }}" eğitimini tercih eden kullanıcıları görebilir ve eğitim kayıtlarını onaylayabilirsiniz. Kabul edilen katılımcının onayı daha sonra kaldırılamaz. Lütfen bunu göz önünde bulundurun.
                    </p>


				</div>
                    {% if object_list.count > 0 %}
                    <div class="col-md-6 contact">
	                        <form action="#" method="GET">
	                            <input type="text" value="{{ request.GET.search }}" name="search" placeholder="Katılımcı ara">
	                            <span><i class="fa fa-search"></i></span>
	                        </form>
                    </div>

                    <div class="col-md-6">
                        <ul>
                            <li>Kontenjan: {% if training.capacity is not None %} {{ training.capacity }} {% else %} Sınırsız {% endif %}</li>
                            <li>Kabul edilen: {{ accepted_count }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        {% include "includes/__messages.html" %}

                        <form action="" method="POST" id="accept-form">
                        {% csrf_token %}
                            <table class="table">
                            <thead>
                                <tr>
                                    <th>İsim</th>
                                    <th>Mail</th>
                                    <th>Üniversite/Kurum</th>
                                    <th>Onay Durumu</th>
                                </tr>
                            </thead>
                            {% for participant in object_list %}
                                <tr {% if participant.accepted_training %}
                                        class="alert alert-success"
                                    {% endif %}
                                    >
                                    <td>{{ participant.user.get_full_name }}</td>
                                    <td>{{ participant.user.email }}</td>
                                    <td>{{ participant.user.institution }}</td>
                                    <td>
                                        {% if not participant.accepted_training %}
                                            <input type="checkbox" name="first" value="{{ participant.pk }}"/>
                                        {% else %}
                                            <span><i class="ion-checkmark-round"></i></span>
                                            <span>Onaylandı</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>

                            <button name="accept" class="btn btn-primary submit pull-right">Seçilenlerin Eğitimini Onayla</button>
                            <button name="export" class="btn btn-primary submit pull-right">Seçimi Onaylananları Dışa Aktar</button>
                        </form>
                    </div>
                    {% else %}
                         <div class="alert alert-danger">Henüz eğitimi seçen katılımcı bulunamadı.</div>
                    {% endif %}
			</div>
		</div>
	</section>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            var clickedButton = "";

            $("button[name=accept]").click(function(e){
                clickedButton = "accept";
            });

            $("button[name=export]").click(function(e){
                clickedButton = "export";
            });

            $("#accept-form").submit(function(event) {
                if(clickedButton === "accept" && !confirm('Onaylama işlemini gerçekleştirmek istediğinize emin misiniz? Onaylanan kullanıcının onayı daha sonra geri alınamaz!') )
                    event.preventDefault();
            });
        });
    </script>
{% endblock %}