{% extends "base.html" %}
{% load static %}

{% block title %} Eğitmen Bilgilerim {% endblock %}

{% block page-header %}
<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>Eğitmen Bilgileri</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}

<section class="pt70 pb50"> 
    <div class="container">   
        <div class="row"> 
            <div class="col-md-4">
                {% if not request.user.instructor.image or form.image.errors %}
                    <img src="{% static "img/user.png" %}" alt="speaker">
                {% else  %}
                     <img src="{{ request.user.instructor.image.url }}" alt="{{ request.user.get_full_name }}">
                {% endif %}

                <ul class="social-media">
                    {% if request.user.instructor.facebook %}
                        <li>
                            <a href="https://www.facebook.com/{{ request.user.instructor.facebook }}" target="_blank">
                            <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    {% endif %}


                    <h3><a href="#" class="speaker-name">{{ request.user.get_full_name }}</a></h3>
                    <p class="designation">{{ request.user.instructor.title }}</p>

                    {% if request.user.instructor.twitter %}
                        <li>
                            <a href="https://twitter.com/{{ request.user.instructor.twitter }}" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.instructor.linkedin %}
                        <li>
                            <a href="https://www.linkedin.com/in/{{ request.user.instructor.linkedin }}" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-7 col-md-offset-1 contact">
                <form method="POST"  action="#">
                    {% csrf_token %}
                    {{ form.title }}
                    {{ form.institution }}
                    {{ form.facebook }}
                    {{ form.twitter }}
                    {{ form.linkedin }}
                    {{ form.image }}
                    {{ form.captcha }}
                    <input name="submit" type="submit" id="submit" class="submit btn btn-md btn-primary" value="Kaydet">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
{% endblock %}
