{% extends "base.html" %}

{% block title %} Döküman Sil {% endblock %}

{% block page-header %}
<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>Döküman Sil</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}
	<section class="homepage2" style="margin-top: 40px">
		<div class="container">
			<div class="row">
				<div class="section-head">
					<h2 class="header-title">EĞİTİM DÖKÜMANI SİL</h2>
				</div>
				<div class="speak-wrapper-h2">
                    <div class="col-sm-12 col-md-12">
                        <div class="massage-response-area">
                            <form action="" method="post">{% csrf_token %}
                                <p>"{{ object.name }}" isimli dökümanı silmek istediğinize emin misiniz?</p>
                                <p class="form-submit">
                                    <input name="submit" type="submit" id="submit" class="submit" value="Sil">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</section>
{% endblock %}
