{% extends "base.html" %}
{% load static %}
{% load bleach_tags %}
{% load hacktrick_extras %}

{% block title %} Eğitimlerim {% endblock %}

{% block page-header %}
<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>Eğitimlerim</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}
	<section class="pt20 pb20">
		<div class="container">
			<div class="row">
                {% if not object_list.count > 0 %}
                    <div class="alert alert-danger">Size ait bir eğitim bulunamadı. Lütfen moderatör ile iletişime geçin.</div>
                {% else %}

                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Eğitim
                                </th>
                                <th>
                                    Kontenjan
                                </th>
                                <th>
                                    Tarih
                                </th>
                                <th>
                                    İşlem
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for training in object_list %}
                            <tr>
                                <td><a href="{% url "profiles:training_update" training.pk %}">{{ training.title|title }}</a></td>
                                <td>{% if training.capacity %} {{ training.capacity }} {% else %} Sınırsız {% endif %}</td>
                                <td>{{ training.date }}</td>
                                <td>
                                    <a href="{% url "profiles:participant_accept" training.pk %}" title="Katılımcı kabul et">
                                        <i class="fa fa-check"></i>&nbsp;Katılımcıları Onayla
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
			</div>
		</div>
	</section>
{% endblock %}