{% extends "base.html" %}

{% block title %} Eğitim Dökümanları {% endblock %}

{% block page-header %}
	<section class="page-header-content">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="page-header-content-inner">
	                <h3 class="page-title">Eğitim Dökümanları</h3>
	                <ul class="breadcrumb">
	                    <li><a href="{% url "hacktrick:index" %}">Anasayfa</a></li>
                        <li><a href="{% url "profiles:trainings" %}">Eğitimlerim</a></li>
                        <li><a href="{% url "profiles:training_update" object.pk %}">{{ object.title }}</a></li>
                        <li class="active">Dökümanlar</li>
	                </ul>
	            </div>
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}
<section class="event-schedule" style="padding: 60px 0 60px 0">
    <div class="container">
        <div class="row">
                <div class="massage-response-area" style="margin-bottom: 0 !important;">
                        <div class="col-m-12">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                {% include 'includes/__form_messages.html' %}
                                <form method="POST"  action="">
                                    {% csrf_token %}
                                    <div class="input-area">
                                        <div class="input">
                                            {{ form.name }}
                                            {{ form.document_url }}
                                        </div>
                                    </div>{{ form.captcha }}
                                    <p class="form-submit text-center">
                                        <input name="submit" type="submit" id="submit" class="submit" value="Ekle">
                                    </p>
                                </form>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>


<section class="event-schedule">
		<div class="container">
			<div class="row">
				<div class="section-head">
					<h2 class="header-title">Dökümanlar</h2>
					<p class="header-desc">"{{ object.title }}" eğitim dökümanları. Eğitim için döküman paylaşımını dosya yükleme siteleri(drive, yandex vs) aracılığı ile yapabilirsiniz.</p>
				</div>

				<div class="event-schedule-inner">
					<div class="event-schedule-inner-fixed">
						<!-- Tab panes -->
                        {% if object.documents.all.count > 0 %}
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="first-date">
                                    <div class="schedule-wrapper">
                                        <div class="schedule-item header">
                                            <div class="col-xs-2 col-sm-2 col-md-2">
                                                <div class="item-inner">
                                                    <span><i class="fa fa-calendar"></i></span>
                                                    <span>İsim</span>
                                                </div>
                                            </div><!-- /.col-xs-2 col-sm-2 col-md-2 -->
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="item-inner">
                                                    <span><i class="fa fa-list-alt"></i></span>
                                                    <span>URL</span>
                                                </div>
                                            </div><!-- /.col-xs-4 col-sm-4 col-md-4 -->
                                            <div class="col-xs-2 col-sm-2 col-md-2">
                                                <div class="item-inner">
                                                    <span><i class="fa fa-microphone"></i></span>
                                                    <span>İşlem</span>
                                                </div>
                                            </div><!-- /.col-md-3 -->
                                        </div><!-- /.schedule-item -->
                                            {% for document in object.documents.all %}
                                                <div class="schedule-item">
                                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                                        <div class="item-inner event-time">
                                                            <span>{{ document.name }}</span>
                                                        </div>
                                                    </div><!-- /.col-xs-2 col-sm-2 col-md-2 -->
                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                        <div class="item-inner event-session">
                                                            <span><a href="{{ document.document_url }}" target="_blank">{{ document.document_url }}</a></span>
                                                        </div>
                                                    </div><!-- /.col-xs-4 col-sm-4 col-md-4 -->
                                                   <div class="col-xs-2 col-sm-2 col-md-2">
                                                        <div class="item-inner">
                                                            <span><a href="{% url "profiles:delete_documents" document.pk %} "> <i class="fa fa-remove"></i></a></span>
                                                        </div>
                                                    </div><!-- /.col-md-3 -->
                                                </div><!-- /.schedule-item -->
                                            {% endfor %}
                                    </div><!-- /.schedule-wrapper -->
                                </div>
                            </div>
                        {% else %}
                               <div class="alert alert-danger">
                                    Bu eğitime ait döküman bulunamadı. Formu kullanarak döküman ekleyebilirsiniz.
                                </div>
                        {% endif %}
					</div><!-- /.event-schedule-inner-fixed -->
				</div><!-- /.event-schedule-inner -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
{% endblock %}
{% block script %}
<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
{% endblock %}