{% extends "base.html" %}

{% block title %} Eğitim Seç {% endblock %}

{% block page-header %}
	<section class="page-header-content">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="page-header-content-inner">
	                <ul class="breadcrumb">
	                    <li><a href="{% url "hacktrick:index" %}">Anasayfa</a></li>
	                    <li><a href="{% url "profiles:profile" %}">Profil</a> </li>
	                    <li class="active">Eğitim seç</li>
	                </ul>
	            </div>
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}
	<section class="event-speaker homepage2">
		<div class="container">
			<div class="row">
				<div class="section-head">
					<h2 class="header-title">EĞİTİM SEÇİMİ</h2>
				</div>
				<div class="speak-wrapper-h2">
                    <div class="col-sm-12 col-md-12">
                    	<p> #TODO Düzenlenecek <br>
                    		Aşağıdaki formu kullanarak iki eğitim tercihi yapabilirsiniz. Eğitimler eş zamanlı yapılacağından tercihleriniz arasından eğitmenler tarafından yalnızca birine kabul edileceksiniz. Eğitimleriniz eğitmenler tarafından onaylandıktan sonra sizin son olarak profil sayfanız üzerinden geleceğinizi teyit etmeniz gerekiyor. Kayıt işlemini tamamlamayan katılımcılar eğitime alınmayacaktır. Ayrıca kaydını onaylayıp geçerli gerekçesi olmadan eğitimlere gelmeyen katılımcılar sonraki etkinliklerimize alınmayacaktır.
                    	</p>
                    	<p>
                    		Eğitimler ücretsizdir. Tüm eğitimlerin kontenjanı sınıf/salon büyüklüğüne göre belirlenmiştir ve üzerinde kayıt alınmayacaktır.
                    	</p>
                    	<p>
                    		Eğitim sonrası katılımcılara katılım sertifikası verilecektir.
                    	</p>
                    	<p>
                    		Eğitimler hakkındaki sorularınızı <a href="{% url "profiles:tickets" %}">buradan bize sorabilirsiniz.</a>
                    	</p>
                        <hr />
                    	<div class="col-sm-4 col-sm-offset-4">
                        	<div class="massage-response-area">
	                            {% include 'includes/__form_messages.html' %}
	                            <form method="POST" action=""  enctype="multipart/form-data">
	                                {% csrf_token %}
	                                <div class="input-area">
	                                    <div class="form-group input calculate-shipping">
	                                        <label>Eğitim seçimi *</label>
	                                            {{ form.training_first }}
	                                    </div>
	                                </div> {{ form.captcha }}
	                                <p class="form-submit centered-area">
	                                    <input name="submit" type="submit" id="submit" class="submit" value="Gönder">
	                                </p>
	                            </form>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</section>
{% endblock %}
{% block script %}
	<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
{% endblock %}