{% extends "base.html" %} {% load hacktrick_extras %} {% block title %} Eğitim Seçimi {% endblock %} {% block page-header %}
<section class="page-title parallax overlay bg-img-h">
    <div class="page-title-content">
        <div class="container">
            <div class="col-sm-12 text-center white">
                <h1>Eğitim Seçimi</h1>
                <hr class="separator">
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block content %}

<section class="pt70 pb50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Aşağıdaki formu kullanarak eğitim tercihinizi yapabilirsiniz. Her eğitimin kontenjanı kendi sayfasında belirtilmiştir.</p>
                <p>Her eğitim için en fazla sınıf mevcudunun iki katı kadar başvuru kabul edilecektir. Başvurular arasından eğitmenler kendi belirleyeceği değerlendirme yöntemi ile eleme yaparak eğitime hak kazanan kişileri belirleyecektir.</p>
                <p>Lütfen eğitim seçimi yapmadan önce ilgili eğitmin detaylarını ve ön koşullarını okuduğunuzdan emin olunuz.</p>
                <p>Eğitim sonrası katılımcılara katılım sertifikası verilecektir.</p>
            </div>
            {% if status %}
                <div class="col-sm-12">
                    <ul class="project-info">
                        {% if verify_selection %}
                            <li><strong>Onaylanan Eğitim:&nbsp;</strong>{{ verify_selection }}</li>
                        {% else %}
                            {% if section_training %}
                                <li>
                                    <strong>Seçilen Eğitim:&nbsp;</strong>
                                    {% if section_training is not None %}
                                        {{ section_training }}
                                    {% else %}
                                        Eğitim Seçiniz
                                    {% endif %}
                                </li>
                                <li>Seçiminiz onaylanmadıkça eğitim tercihinizi kontenjanı olan başka bir eğitimle değiştirebilirsiniz.</li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                {% if not verify_selection %}
                    <div class="col-sm-8 col-sm-offset-2 contact">
                        {% include 'includes/__form_messages.html' %}
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-sm-12">{{ form.training_first }}</div>
                            <div class="col-sm-2">{{ form.agreement }}</div>
                            <div class="col-sm-10">
                                <a id="tos" href="">Eğitim katılım şartlarını</a> okudum, anladım, kabul ediyorum.
                            </div>
                            <div class="col-sm-12">{{ form.captcha }}</div>
                            <div class="col-sm-12"><input name="submit" type="submit" id="submit" class="btn btn-primary submit" value="Seç"></div>
                        </form>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="alert alert-error fade in">
                        <p>Eğitim Kayıtları Sona Ermiştir.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %} {% block script %}
<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
{% endblock %}