{% extends "base.html" %}
{% load static %}

{% block content %}
	<!--  bannar section start  -->
	<section class="bannar">
		<div class="bannar-img">
			<img src="{% static "images/homepage1/bannar-bg.jpg" %}" alt="Banner">
			<div class="overlay"></div>
			<div class="bannar-conent-area">
				<div class="bannar-header">
					<div class="container">
						<div class="row">
							<h1>Design Conference 2016</h1>
							<ul class="meta-post">
								<li>
									<i class="fa fa-calendar"></i>
									22 February, 2016
								</li>
								<li>
									<i class="fa fa-map-marker"></i>
									Lorng Prime Garder, USA
								</li>
							</ul>
						</div><!-- /.row -->
					</div><!-- /.container -->
				</div><!-- end bannar header  -->

				<div class="bannar-content">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-md-8">

							<div class="header-countdown-wrapper">
								<div class="header-countdown">
									<div id="header-countdown" data-days="days" data-hrs="hrs" data-min="min" data-sec="sec" data-label="time left" data-gmt="0">2017-07-12 8:00:00</div>
								</div>
							</div>
							</div><!-- /.col-md-8 -->

							<div class="col-sm-6 col-md-4">
								<div class="row">
									<div class="bannar-btn">
										<a href="#" class="register-now hvr-bounce-to-bottom">Register Now</a>
										<a href="#" class="view-detail hvr-bounce-to-bottom">View Details</a>
									</div>
								</div><!-- /.row -->
							</div><!-- /.col-md-4 -->
						</div><!-- /.row -->
					</div><!-- /.container -->
				</div><!-- /.bannar-content -->
			</div><!-- /.banner conent area -->
		</div><!-- /.banner img -->
	</section>
	<!--  bannar section End  -->
{% endblock %}