{% extends "base.html" %}

{% block page-header %}
	<section class="page-header-content">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="page-header-content-inner">
	                <h3 class="page-title">PROFİL</h3>
	                <ul class="breadcrumb">
	                    <li><a href="{% url "hacktrick:index" %}">Anasayfa</a></li>
	                    <li class="active">Profil</li>
	                </ul>
	            </div>
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}
<section class="national-conference">
    <div class="container">
        <div class="row">
            {% if request.user.institution == "" or request.user.phone_number == "" %}
                <div class="alert alert-danger">
                    Sistem üzerinde işlemlere devam edebilmek için kullanıcı bilgilerini doldurmak zorundasınız. Lütfen aşağıdaki formu kullanarak güncelleyiniz.
                </div>
            {% endif %}
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="contact-item-inner">
                            <span><i class="fa fa-user"></i></span>
                            <div class="content">
                                <h4 class="ccr-name">İsim</h4>
                                <a href="#" class="ccr-detail">{{ request.user.get_full_name }}</a>
                            </div>
                        </div>
                    </div>

                    <div class="contact-item">
                        <div class="contact-item-inner">
                            <span><i class="fa fa-envelope"></i></span>
                            <div class="content">
                                <h4 class="ccr-name">E-Mail</h4>
                                <a href="#" class="ccr-detail">{{ request.user.email }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="massage-response-area">
                    <h3>GÜNCELLE</h3>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <form method="POST"  action="#">
                                {% csrf_token %}
                                <div class="input-area">
                                    <div class="input">
                                        {{ form.institution }}
                                        {{ form.phone_number }}
                                    </div>
                                </div>
                                <p class="form-submit">
                                    <input name="submit" type="submit" id="submit" class="submit" value="Gönder">
                                </p>
                            </form>
                        </div>
                        <div class="col-md-6">
                            Sistem üzerinde işlemlere devam edebilmek için kurum ve telefon numrası alanlarını doldurmak zorundasınız.
                        </div>
                    </div>

                </div>
        </div>
    </div>
</section>
{% endblock %}