{% extends "base.html" %}

{% block title %} Profil {% endblock %}

{% block page-header %}
<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>Profil</h1>
                <hr class="separator">
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}

<section class="pt70 pb50"> 
    <div class="container">   
        <div class="row"> 
            <div class="col-md-12 section-heading">
                {% if request.user.institution == "" or request.user.phone_number == "" or request.user.first_name == "" or request.user.last_name == "" %}
                    <div class="alert alert-danger text-center">
                        Eğitim seçimi ve diğer işlemler için lütfen kullanıcı bilgilerinizi güncelleyin.
                    </div>
                {% endif %}
                    {% include "includes/__form_messages.html" %}
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <ul class="project-info">
                    <li><strong>İsim:</strong>{{ request.user.get_full_name }}</li>
                    <li><strong>Email:</strong>{{ request.user.email }}</li>
                    {% if verify_selection %}
                        <li><strong>Onaylanan Eğitim:</strong> {{ verify_selection }}</li>
                    {% else %}
                    {% if request.user.user_type == 3 %}
                        <li><strong>Eğitim:</strong> Seçtiğiniz eğitime onaylanmanız halinde buradan görebilirsiniz</li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-8 col-md-offset-2 checkout">
                <form method="POST"  action="#">
                    {% csrf_token %}
                    <div class="half-left col-sm-6">
                        {{ form.first_name }}
                    </div>
                    <div class="half-right col-sm-6">
                        {{ form.last_name }}
                    </div>
                    <div class="half-left col-sm-6">
                        {{ form.institution }}
                    </div>
                    <div class="half-right col-sm-6">
                        {{ form.phone_number }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.captcha }}
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                        <a name="submit" type="submit" id="submit" class="btn btn-primary btn-md btn-appear btn-cart-checkout"><span>Kaydet<i class="ion-ios-arrow-forward"></i></span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
{% endblock %}