{% extends "base.html" %}

{% block title %} Sorular {% endblock %}

{% block page-header %}

<section class="page-title parallax overlay bg-img-h">  
    <div class="page-title-content"> 
        <div class="container">   
            <div class="col-sm-12 text-center white">
                <h1>İletişim</h1>
                <hr class="separator">
                <p>Etkinlik hakkında tüm sorularınızı bu form aracılığıyla bize ulaştırabilirsiniz. Lütfen soru sormadan önce yanıtın <a href="{% url "hacktrick:faq" %}">Sık Sorulan Sorular</a>'da olmadığından emin olunuz.</p>
            </div> 
        </div>
    </div>    
</section>
{% endblock %}

{% block content %}


<section class="pt70 pb50"> 
    <div class="container">   
        <div class="row">
            <div class="col-md-4 contact">
                <div class="section-heading">
                    <h4>Soru Sorun</h4>
                </div>
                {% include 'includes/__form_messages.html' %}
                <form method="POST"  action="">
                    {% csrf_token %}
                    {{ form.title }}
                    {{ form.content }}
                    {{ form.captcha }}
                    <input name="submit" type="submit" id="submit" class="submit btn btn-md btn-primary" value="Gönder">
                </form>
            </div>
            <div class="col-md-offset-1 col-md-7">

                <div class="section-heading">
                    <h4>Tüm Sorularınız</h4>
                </div>
                {% if object_list.count > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Tarih
                            </th>
                            <th>
                                Başlık
                            </th>
                            <th>
                                Durum
                            </th>
                            <th>
                                Yanıt Sayısı
                            </th>
                            <th>
                                Detaylar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in object_list %}
                        <tr>
                            <td>
                                {{ ticket.date|date:"d M Y" }}
                            </td>
                            <td>
                                {{ ticket.title }}
                            </td>
                            <td>
                                {% if ticket.ticket_status %}
                                    Açık
                                {% else %}
                                    Kapalı
                                {% endif %}
                            </td>
                            <td>
                                {{ ticket.ticket_comments.count }}
                            </td>
                            <td>
                                <a class="btn btn-primary" href="{% url "profiles:ticket_detail" ticket.pk %}"><span>Git</span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                   <div class="alert alert-danger">
                       Aklınıza takılan bir soru varsa lütfen formu kullanarak bize sorun.
                   </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
{% endblock %}